<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.salePlan.SalePlanBillDao">

    <select id="queryMinDate" resultType="java.util.Date">
        select Min(bill_date) as billDate
        from rbp_sale_plan_bill
        where status = 1 and finish_flag != 1
        <if test="date != null">
            and created_time <![CDATA[>=]]> #{date}
        </if>
    </select>

</mapper>