<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.channel.ChannelReceiveInfoDao">

    <select id="selectChannelReceiveInfoByChannelIds" resultType="com.regent.rbp.api.dto.channel.AddressData">
        Select a.channel_id, a.nation, a.province, a.city, a.county, a.address, a.contacts_person, a.mobile, a.post_code
        From rbp_channel_receive_info a
        WHERE a.channel_id IN (
        <foreach item="id" collection="channelIds" open="" separator="," close="">
            #{id}
        </foreach>
        )
    </select>

</mapper>