<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.storedvaluecard.StoredValueCardAssetsDao">

    <update id="updateAssetsById">
        update rbp_stored_value_card_assets set pay_amount = pay_amount + #{payAmount},
        credit_amount = credit_amount + #{creditAmount},updated_time = now()
        where id = #{id}
    </update>

</mapper>