<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.stock.StockAdjustBillDao">
    <select id="searchPageData" resultType="com.regent.rbp.api.dto.stock.StockAdjustBillQueryResult">
        select
            rsab.id,
            rsab.module_id ,
            rsab.bill_no ,
            rsab.bill_date ,
            rbt.name businessType,
            rsab.manual_id ,
            rc.code channelCode,
            rsab.notes ,
            rsab.status ,
            rsab.created_time ,
            rsab.updated_time ,
            rsab.check_time
        from
            rbp_stock_adjust_bill rsab
            left join rbp_business_type rbt on
            rbt.id = rsab.business_type_id
            left join rbp_channel rc on
            rc.id = rsab.channel_id
        <where>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(query.moduleId)">
                and rsab.module_id = #{query.moduleId}
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(query.billNo)">
                and rsab.bill_no = #{query.billNo}
            </if>
            <if test="query.billDate!=null">
                and rsab.bill_date = #{query.billDate}
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(query.manualId)">
                and rsab.manual_id = #{query.manualId}
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(query.notes)">
                and rsab.notes like  concat('%', #{query.notes}, '%')
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(query.status)">
                and rsab.status in
                <foreach item="sta" collection="query.status" separator="," open="(" close=")">
                    #{sta}
                </foreach>
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(query.businessType)">
                and rbt.name in
                <foreach item="bus" collection="query.businessType" separator="," open="(" close=")">
                    #{bus}
                </foreach>
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(query.channelCode)">
                and rc.code in
                <foreach item="cc" collection="query.channelCode" separator="," open="(" close=")">
                    #{cc}
                </foreach>
            </if>
            <if test="query.createdDateStart != null ">
                and rsab.created_time <![CDATA[>=]]> #{query.createdDateStart}
            </if>
            <if test="query.createdDateEnd != null ">
                and rsab.created_time <![CDATA[<=]]> #{query.createdDateEnd}
            </if>
            <if test="query.checkDateStart != null ">
                and rsab.check_time <![CDATA[>=]]> #{query.checkDateStart}
            </if>
            <if test="query.checkDateEnd != null ">
                and rsab.check_time <![CDATA[<=]]> #{query.checkDateEnd}
            </if>
            <if test="query.updatedDateStart != null ">
                and rsab.updated_time <![CDATA[>=]]> #{query.updatedDateStart}
            </if>
            <if test="query.updatedDateEnd != null ">
                and rsab.updated_time <![CDATA[<=]]> #{query.updatedDateEnd}
            </if>
        </where>
    </select>
</mapper>