<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.base.CustomizeColumnDao">

    <select id="selectCustomizeColumnByModuleId" resultType="com.regent.rbp.api.dto.base.CustomizeColumnDto">
        SELECT  c.id, a.group_key as groupKey,a.module_id moduleId, c.`code`, c.`name`, c.type
        FROM rbp_module_customize_group a
            INNER JOIN rbp_module_customize_column b on a.id = b.module_group_id
            INNER JOIN rbp_customize_column c on b.customize_column_id = c.id
        WHERE a.module_id = #{moduleId} and b.user_flag = 1
    </select>

    <select id="selectCustomizeColumnList" resultType="com.regent.rbp.api.dto.base.CustomizeColumnDto">
        SELECT c.id, a.group_key as groupKey, a.module_id moduleId, c.`code`, c.`name`, c.type
        FROM rbp_module_customize_group a
        INNER JOIN rbp_module_customize_column b on a.id = b.module_group_id
        INNER JOIN rbp_customize_column c on b.customize_column_id = c.id
        WHERE b.user_flag = 1 and a.module_id in (
        <foreach item="id" collection="moduleIdList" open="" separator="," close="">
            #{id}
        </foreach>
        )
    </select>

    <select id="selectCustomizeColumnValueList" resultType="com.regent.rbp.api.dto.base.CustomizeColumnValueDto">
        select id,customize_column_id,value,order_number,default_flag
        from rbp_customize_column_value where user_flag = 1 and
        customize_column_id in(
        <foreach item="id" collection="customizeColumnIdList" open="" separator="," close="">
            #{id}
        </foreach>
        )
    </select>

    <select id="selectCustomizeColumnCodeByModuleId" resultType="java.lang.String">
        SELECT distinct c.`code`
        FROM rbp_module_customize_group a
            INNER JOIN rbp_module_customize_column b on a.id = b.module_group_id
            INNER JOIN rbp_customize_column c on b.customize_column_id = c.id
        WHERE a.module_id = #{moduleId} and b.user_flag = 1
    </select>

</mapper>