<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.base.DbDao">


    <select id="selectTableDataByMap" resultType="java.util.Map">
        SELECT *
        FROM `${tableName}`
        WHERE 1 = 1
        <foreach collection="conditionMap.entrySet()"  index="key" item="value" >
            and `${key}`=#{value}
        </foreach>
    </select>

    <insert id="insertMap">
        INSERT INTO `${tableName}` (
        <foreach collection="map.entrySet()"  index="key" item="value" >
            `${key}`
        </foreach>
        )
        VALUES(
        <foreach collection="map.entrySet()"  index="key" item="value" >
            #{value}
        </foreach>
        )
    </insert>

    <update id="updateMapById">
        UPDATE `${tableName}` SET
        <foreach collection="map.entrySet()"  index="key" item="value" >
            `${key}`= #{value}
        </foreach>
        WHERE `id` = #{id}
    </update>

    <select id="getLongDataBySql" resultType="java.lang.Long">
        ${sql}
    </select>

    <select id="getIntegerDataBySql" resultType="java.lang.Integer">
        ${sql}
    </select>

    <select id="getStringDataBySql" resultType="java.lang.String">
        ${sql}
    </select>

    <select id="getOneModuleBusinessType" resultType="com.regent.rbp.api.core.base.ModuleBusinessType">
         SELECT a.id, a.module_id, a.business_type_id FROM rbp_module_business_type a
            INNER JOIN rbp_module rm ON rm.status = 100 AND rm.base_module_id = #{baseModuleId} AND rm.id = a.module_id
            WHERE
                 EXISTS(SELECT 1 FROM rbp_business_type rby WHERE rby.base_business_type_id = #{baseBusinessTypeId} AND rby.id = a.business_type_id)
            LIMIT 1;
    </select>

</mapper>