<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.base.SizeClassDao">


    <insert id="batchInsertSizeDetail">
        INSERT INTO rbp_size_detail (id,`name`,size_class_id,order_number,field_name)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id}, #{item.name},#{item.sizeClassId},#{item.orderNumber},#{item.fieldName})
        </foreach>
    </insert>


</mapper>