<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.receipt.ReceiptDao">


    <select id="searchPageData" resultType="com.regent.rbp.api.dto.receipt.ReceiptBillQueryResult">
        select
        rr.id billId,
        rr.module_id,
        rr.manual_id,
        rr.bill_date,
        rr.receipt_account,
        rc.code channelCode,
        rfa.code fundAccountCode,
        rfab.account fundAccountBank,
        rrt.name receiptType,
        rct.name currencyType,
        rr.exchange_rate ,
        rr.currency_amount ,
        rr.amount ,
        rr.notes ,
        rr.status ,
        rr.created_time,
        rr.updated_time,
        rr.check_time
        from
        rbp_receipt rr
        left join rbp_channel rc on rc.id = rr.channel_id
        left join rbp_fund_account rfa on rfa.id = rr.fund_account_id
        left join rbp_fund_account_bank rfab on rfab.id = rr.fund_account_bank_id
        left join rbp_receipt_type rrt on rrt.id =rr.receipt_type_id
        left join rbp_currency_type rct on rct.id = rr.currency_type_id
        <where>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(param.moduleId)">
                and module_id = #{param.moduleId}
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(param.manualId)">
                and manual_id = #{param.manualId}
            </if>
            <if test="param.billDate!=null">
                and bill_date = #{param.billDate}
            </if>
            <if test=" @cn.hutool.core.collection.CollUtil@isNotEmpty(param.channelCode)">
                and rc.code in
                <foreach item="cc" collection="param.channelCode" separator="," open="(" close=")">
                    #{cc}
                </foreach>
            </if>
            <if test=" @cn.hutool.core.collection.CollUtil@isNotEmpty(param.fundAccountCode)">
                and rfa.code in
                <foreach item="cc" collection="param.fundAccountCode" separator="," open="(" close=")">
                    #{cc}
                </foreach>
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(param.fundAccountBank)">
                and rfab.account = #{param.fundAccountBank}
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(param.receiptAccount)">
                and rr.receipt_account = #{param.receiptAccount}
            </if>
            <if test=" @cn.hutool.core.collection.CollUtil@isNotEmpty(param.receiptType)">
                and rrt.name in
                <foreach item="cc" collection="param.receiptType" separator="," open="(" close=")">
                    #{cc}
                </foreach>
            </if>
            <if test=" @cn.hutool.core.collection.CollUtil@isNotEmpty(param.currencyType)">
                and rct.name in
                <foreach item="cc" collection="param.currencyType" separator="," open="(" close=")">
                    #{cc}
                </foreach>
            </if>
            <if test="@cn.hutool.core.util.StrUtil@isNotBlank(param.notes)">
                and rr.notes regexp #{param.notes}
            </if>
            <if test=" @cn.hutool.core.collection.CollUtil@isNotEmpty(param.status)">
                and rr.status in
                <foreach item="st" collection="param.status" separator="," open="(" close=")">
                    #{st}
                </foreach>
            </if>
            <if test="param.createdDateStart != null ">
                and rprb.created_time <![CDATA[>=]]> #{param.createdDateStart}
            </if>
            <if test="param.createdDateEnd != null ">
                and rprb.created_time <![CDATA[<=]]> #{param.createdDateEnd}
            </if>
            <if test="param.checkDateStart != null ">
                and rprb.check_time <![CDATA[>=]]> #{param.checkDateStart}
            </if>
            <if test="param.checkDateEnd != null ">
                and rprb.check_time <![CDATA[<=]]> #{param.checkDateEnd}
            </if>
            <if test="param.updatedDateStart != null ">
                and rprb.updated_time <![CDATA[>=]]> #{param.updatedDateStart}
            </if>
            <if test="param.updatedDateEnd != null ">
                and rprb.updated_time <![CDATA[<=]]> #{param.updatedDateStart}
            </if>
        </where>
    </select>

</mapper>