<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.sendBill.SendBillDao">

    <select id="querySendBillGoods" resultType="com.regent.rbp.api.core.sendBill.SendBillGoods">
        <!-- b.notice_id, b.notice_goods_id, b.sale_plan_id, b.sale_plan_goods_id, -->
        select b.goods_id, Sum(b.quantity) as quantity
        from rbp_send_bill a
        inner join rbp_send_bill_goods b on a.id = b.bill_id
        where a.status = 1
        <if test="salePlanId != null">
            and b.sale_plan_goods_id is not null
            and b.sale_plan_id = #{salePlanId}
        </if>
        <if test="noticeId != null">
            and b.notice_goods_id is not null
            and b.notice_id = #{noticeId}
        </if>
        group by b.goods_id
    </select>

    <insert id="batchInsertGoodsList">
        INSERT INTO rbp_send_bill_goods (id, bill_id,notice_id,notice_goods_id,sale_plan_id, sale_plan_goods_id,
        price_type_id, goods_id, discount, tag_price, balance_price, currency_price, exchange_rate,quantity, remark)
        VALUES
        <foreach item="item" index="index" collection="billGoodsList" separator=",">
            (#{item.id},#{item.billId},#{item.noticeId},#{item.noticeGoodsId},#{item.salePlanId},#{item.salePlanGoodsId},
            #{item.priceTypeId}, #{item.goodsId},#{item.discount},#{item.tagPrice},#{item.balancePrice},
            #{item.currencyPrice},#{item.exchangeRate},#{item.quantity},#{item.remark})
        </foreach>
    </insert>

    <insert id="batchInsertSizeList">
        INSERT INTO rbp_send_bill_size
        (id, bill_id, bill_goods_id, goods_id, color_id, long_id, size_id, quantity)
        VALUES
        <foreach item="item" index="index" collection="billSizeList" separator=",">
            (#{item.id},#{item.billId},#{item.billGoodsId},#{item.goodsId},#{item.colorId},#{item.longId},#{item.sizeId},
            #{item.quantity})
        </foreach>
    </insert>

    <insert id="batchInsertNoticeBillSizeList">
        INSERT INTO ${tableName}
        (id, owe_quantity)
        VALUES
        <foreach item="item" index="index" collection="billSizeList" separator=",">
            (#{item.id},#{item.oweQuantity})
        </foreach>
    </insert>

</mapper>