<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regent.rbp.api.dao.warehouse.user.UserProfileDao">

    <insert id="batchInsertUserCashierChannelList">
        INSERT INTO rbp_user_cashier_channel (id, user_id, channel_id, created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="insertList" separator=",">
            (#{item.id},#{item.userId},#{item.channelId},#{item.createdBy},#{item.updatedBy})
        </foreach>
    </insert>

    <insert id="batchInsertUserCashierLowerDiscountList">
        INSERT INTO rbp_user_cashier_lower_discount
        (id, user_id, category_id, year_id, lower_discount, created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="insertList" separator=",">
            (#{item.id},#{item.userId},#{item.categoryId},#{item.yearId},#{item.lowerDiscount},#{item.createdBy},#{item.updatedBy})
        </foreach>
    </insert>


</mapper>